Repository ethereumclassic/tweets-etc_network, pull requests merged in 2022-10, with the labels that each got.

#73 Create 2022-09-30_USDTsupport
  tweets/2022-09-30_USDTsupport
Labels: Tweet

#93 Create 221014-Etc_vids.tweet
  tweets/221014-Etc_vids.tweet
Labels: Tweet

#96 Create 221016-BuildOnETC.tweet
  tweets/221016-BuildOnETC.tweet
Labels: Tweet

#101 Create 221017-ETC_ApexPredator.tweet
  media/ETC_ApexPredator.png
  tweets/221017-ETC_ApexPredator.tweet
Labels: Tweet + Media

#100 Create 221017-retweet-first-etctweets
  tweets/221017-retweet-first-etctweets.tweet
Labels: Retweet+NoText

#103 Create 221017-NetworkHashrate.tweet
  tweets/221017-NetworkHashrate.tweet
Labels: Retweet+NoText

#102 Create 221017-EducateOnETC.tweet
  media/ETC_Matrix.png
  tweets/221017-EducateOnETC.tweet
Labels: Tweet + Media
